@import '../../styles/mixins.scss';

.email-details {
  &__form {
    height: 100%;
  }

  &__input {
    width: 100%;
    font-size: 1.6rem;
    margin: 1rem 0 !important;
  }
  &__cta {
    margin-top: 0.5rem;
  }
}
