@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.message-info {
  @include flexCenter(column);
  & > li {
    text-align: center;
    span {
      font-size: 1rem;
      text-transform: capitalize;
    }
    p {
      font-weight: bold;
      font-size: 1.2rem;
      color: $color-primary-dark;
    }
  }
  &__btn {
    margin: 1.2rem 1.4rem;
  }
}
